
// Sidebar
$menuBg:#1f2d3d;
$menuText:#fff;
$menuActiveText:#fff;
$menuActiveBg:#435EBE;
$menuIconColor:#fff;

//navBar
$navBgColor:#1f2d3d;
$navTextColor:#fff;
$hamburgerColor:#fff;

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuActiveBg:$menuActiveBg;
  navTextColor:$navTextColor;
  hamburgerColor:$hamburgerColor;
}